.footer{
  background-color: #4b6584;
  color: #ffffff;
  padding-block: 3em;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 1em;
  animation: getAnimationDuration(.8s) slideInLeft forwards;
  .logo {
    font-size: 1.5em;
    font-weight: bolder;
    color: var(--primary-color);
    text-shadow: 0 1px 3px var(--shadow-color);
    font-family: Pilowlava;
    span {
      color: var(--text-color);
    }
  }
  .footer-section{
    p{
      opacity: .9;
      margin-bottom: .5em;
    }
    p.title{
      opacity: 1;
      font-size: 1.1em;
      font-weight: bold;
      margin-bottom: 1em;
    }
  }
}