
.login-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 325px;
  margin: 25px auto;
  animation: getAnimationDuration(.8s) popOut forwards;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
}

.disable{
  cursor: not-allowed;
  background-color: #bdc3c7;
}

.login-links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.login-links a {
  color: var(--text-color);
  text-decoration: none;
}

.login-links a:hover {
  text-decoration: underline;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

section{
  a{
    color: var(--text-color);
  }
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  border: 2px solid red;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.line {
  display: inline-block;
}

.persistCheck{
  padding-top: 1em;
}

