:root{
  --background-color: #ffffff;
  --background-light: #fff;
  --shadow-color: rgba(0,0,0,0.2);
  --primary-color: rgb(255,100,47);
  --text-color: #0A0A0A;
  --text-light: #575757;
  --font-size: 16px;
  --animation-speed: 1;
}

@function getAnimationDuration($duration: number) {
  @return calc($duration * var(--animation-speed));
}

@font-face {
  font-family: 'Pilowlava';
  src: url('../fonts/Pilowlava-Atome.otf') format('truetype');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
}

body{
  font-size: var(--font-size);
  font-family: 'Roboto', sans-serif;
  padding-top: 55px;
  background-color: var(--background-light);
  display: flex;
  flex-direction: column;
  height: 100%;
}
#main {
  flex: 1;
}
a{
  text-decoration: none;
  color: #ffffff;
}
img{
  object-fit: cover;
}

.btn{
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: .75em 1em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 3px;
  box-shadow: 0 2px 6px var(--shadow-color);
  &:hover{
    box-shadow: 0 1px 3px var(--shadow-color);
  }
}
.head {
  margin-bottom: 1em;
  padding-left: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #4b6584;
  padding-bottom: 5px;
  color: white;

  p {
    color: #a5b1c2;
  }
}
.custom-image{
  background-color: red;
  height: 0;
  width: 100%;
  position: relative;
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@import "partials/navbar.scss";

.section{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 3vw;
  &.d-block{
    display: block;
  }
  .title{
    color: var(--text-color);
    font-size: 2.5em;
    margin-bottom: .25em;
    font-weight: 900;
  }
  .info{
    color: var(--text-light);
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 1.3;
    margin-bottom: 1.25em;

  }
  .col{
    width: 50%;
  }
}

@import "partials/hero-section.scss";
@import "partials/improve-skills.scss";
@import "partials/quote-section.scss";
@import "partials/chiefs-section.scss";
@import "partials/previous-searches.scss";
@import "partials/recipes-section.scss";
@import "partials/recipe.scss";
@import "partials/login.scss";
@import "partials/recipeform.scss";
@import "partials/notfound.scss";



.options-container{
  box-shadow: 0 5px 10px var(--shadow-color);
  padding: 1em;
  border-radius: 5px;
  border-left: .5em solid var(--primary-color);
  background-color: var(--background-light);
  margin-top: 1em;
  display: flex;
  gap: 1em;
  .option{
    height: 3.5em;
    width: 3.5em;
    box-shadow: 0 3px 6px var(--shadow-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.light{
      background-color: #fff;
    }
    &.dark{
      background-color: rgb(29, 29, 29);
    }
    .check{
      height: 2.5em;
      width: 2.5em;
      background-color: var(--primary-color);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 2px 5px var(--shadow-color);
      svg{
        height: 1.5em;
        width: 1.5em;
      }
    }
  }
  .btn span{
    display: inline-block;
    margin-left: .5em;
  }
}
.d-block h2{
  font-size: 1.75em;
  color: var(--text-color)
}

@import "partials/footer.scss";



.main{
  padding-block: 3vw;
}
.container {
  padding-inline: 26vw;
}
.container2 {
  padding-inline: 25vw;
}


@import "partials/animations.scss";

@media screen and (max-width: 1280px){
  .container, .container2{
    padding-inline: 18vw;
  }
}
@media screen and (max-width: 1050px){
  .container{
    padding-inline: 12vw;
  }
  .container2{
    padding-inline: 8vw;
  }
}
@media screen and (max-width: 768px){
  .navbar{
    .nav-links{
      display: none;
    }
    .nav-links2{
      display: block;
      svg{
        width: 1.5em;
      }
    }

    .l3{
      display: block;
    }

    .l4{
      display: none;
    }

    .sidebar-btn{
      display: block;
    }
  }
  .section{
    .col{
      width: 100%;
      padding: 0 !important;
      text-align: center;
      margin-bottom: 2em;
    }
  }


  .skill-item{
    display: inline-block;
    margin: .75em;
  }
  .section.improve-skills .btn{
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .chief-card{
    box-shadow: 0 5px 10px var(--shadow-color);
  }
  .container, .container2{
    padding-inline: 6vw;
  }
  .footer{
    grid-template-columns: repeat(4, 1fr);
    .footer-section:nth-child(1){
      grid-column: span 4;
    }
    .footer-section:nth-child(2), .footer-section:nth-child(3){
      grid-column: span 2;
    }
  }
}
@media screen and (max-width: 480px){
  .container, .container2{
    padding-inline: 3vw;
  }
  .notfound {
    div {
      padding-block: 40px;
      font-size: 70px;
    }
  }
  .l3{
    display: none;
  }

  .group{
    flex-wrap: wrap;
  }

  .recipe-card:hover {
    transform: none;
  }

  .form-group {
    width: 100%;
  }

  .l4{
    display: block;
  }

  .recipe-content{
    display: block;
  }
  .recipe-image{
    margin-bottom: 1em;
  }
  .recipe-ingredients ul li {
    display: inline;
    margin-right: 5px;

  }
  .recipe-ingredients ul li:nth-child(n+2) {
    border-left: 1px solid var(--text-light);
    padding-left: 2px;
  }

  .form-container{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .formcontent{
    padding-inline: 20px;
  }
}